### stack is also used to reshape DataFrame

In [3]:
import pandas as pd
df = pd.read_excel(r"C:\Users\mohaan\Documents\stock.xlsx",header=[0,1])
df

              Price                  price to earnings ratio (P/E)         \
Company    Facebook Google Microsoft                      Facebook Google
2017-06-05      155    955        66                         37.10   32.0
2017-06-06      150    987        69                         36.98   31.3
2017-06-07      153    963        62                         36.78   31.7
2017-06-08      155   1000        61                         36.11   31.2
2017-06-09      156   1012        66                         37.07   30.0


Company    Microsoft
2017-06-05     30.31
2017-06-06     30.56
2017-06-07     30.46
2017-06-08     30.11
2017-06-09     31.00

In [4]:
df.stack()

                      Price  price to earnings ratio (P/E)
           Company
2017-06-05 Facebook     155                          37.10
           Google       955                          32.00
           Microsoft     66                          30.31
2017-06-06 Facebook     150                          36.98
           Google       987                          31.30
           Microsoft     69                          30.56
2017-06-07 Facebook     153                          36.78
           Google       963                          31.70
           Microsoft     62                          30.46
2017-06-08 Facebook     155                          36.11
           Google      1000                          31.20
           Microsoft     61                          30.11
2017-06-09 Facebook     156                          37.07
           Google      1012                          30.00
           Microsoft     66                          31.00

In [6]:
df.stack(level=0)

Company                                   Facebook  Google  Microsoft
2017-06-05 Price                            155.00   955.0      66.00
           price to earnings ratio (P/E)     37.10    32.0      30.31
2017-06-06 Price                            150.00   987.0      69.00
           price to earnings ratio (P/E)     36.98    31.3      30.56
2017-06-07 Price                            153.00   963.0      62.00
           price to earnings ratio (P/E)     36.78    31.7      30.46
2017-06-08 Price                            155.00  1000.0      61.00
           price to earnings ratio (P/E)     36.11    31.2      30.11
2017-06-09 Price                            156.00  1012.0      66.00
           price to earnings ratio (P/E)     37.07    30.0      31.00