## pandas is an open source library.
It provides high performance and easy to use tools for Data Structures and Data Analysis.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['col1','col2','col3','col4'])

In [3]:
df

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5    16    17    18    19

In [4]:
df.to_csv('Test1.csv')

In [5]:
## accessing dataframe elements
# 1.loc(row index), 2.iloc(both row and col index)

type(df.loc['row1'])

pandas.core.series.Series

In [6]:
#if we retrive a single row data,then it is a Series
# if we retirve multiple rows and multiple columns it is a dataframe

type(df.iloc[:2,:2])

pandas.core.frame.DataFrame

In [7]:
## how to convert a dataframe to numpy array

df.iloc[:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [8]:
df_test = pd.read_csv('Test1.csv',sep=';')

In [9]:
df_test

  ,col1,col2,col3,col4
0         row1,0,1,2,3
1         row2,4,5,6,7
2       row3,8,9,10,11
3     row4,12,13,14,15
4     row5,16,17,18,19

In [10]:
df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [15]:
df['col1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: col1, dtype: int64

In [16]:
df['col1'].unique()

array([ 0,  4,  8, 12, 16], dtype=int64)

In [18]:
# to see multiple column names
df[['col1','col2']]

      col1  col2
row1     0     1
row2     4     5
row3     8     9
row4    12    13
row5    16    17

In [20]:
data = pd.read_csv(r'C:\Users\mohaan\Downloads\mercedesbenz.csv')

In [21]:
data

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
11,32,98.12,al,r,e,f,d,f,h,o,...,0,0,0,0,0,0,0,0,0,0
12,34,82.62,s,b,ai,c,d,f,g,m,...,0,0,1,0,0,0,0,0,0,0
13,36,94.12,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
14,37,99.15,o,s,as,e,d,j,g,m,...,1,0,0,0,0,0,0,0,0,0
15,38,93.64,n,l,ak,f,d,j,d,k,...,0,0,0,0,0,0,0,0,0,0
16,39,106.10,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
17,40,114.13,ay,aa,as,c,d,j,c,d,...,0,0,1,0,0,0,0,0,0,0
18,44,89.81,f,c,m,c,d,j,d,e,...,0,0,1,0,0,0,0,0,0,0
19,47,90.81,n,a,ak,f,d,j,i,s,...,0,0,0,0,0,0,0,0,0,0
20,48,90.56,f,s,m,c,d,j,j,i,...,0,0,1,0,0,0,0,0,0,0
21,49,94.57,t,aa,as,d,d,j,j,s,...,0,1,0,0,0,0,0,0,0,0
22,50,108.14,x,r,a,b,d,j,j,o,...,1,0,0,0,0,0,0,0,0,0
23,52,120.77,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
24,54,84.84,y,r,ak,d,d,j,d,s,...,0,0,0,0,0,0,0,0,0,0
25,60,93.59,o,s,m,c,d,j,i,v,...,0,0,1,0,0,0,0,0,0,0
26,61,104.07,aj,l,as,f,d,j,g,j,...,0,0,0,0,0,0,0,0,0,0
27,62,89.37,t,aa,as,c,d,j,d,b,...,1,0,0,0,0,0,0,0,0,0
28,66,90.08,f,s,as,c,d,j,c,q,...,1,0,0,0,0,0,0,0,0,0
29,67,128.19,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4179,8354,85.93,al,a,ak,f,d,aa,l,t,...,0,0,0,0,0,0,0,0,0,0
4180,8356,90.45,ba,v,ai,a,d,aa,l,a,...,0,0,1,0,0,0,0,0,0,0
4181,8357,90.06,y,r,as,f,d,aa,g,v,...,0,0,0,0,0,0,0,0,0,0
4182,8362,90.38,z,v,ae,c,d,aa,g,r,...,1,0,0,0,0,0,0,0,0,0
4183,8367,95.56,z,aa,m,c,d,aa,l,s,...,1,0,0,0,0,0,0,0,0,0
4184,8368,109.00,w,s,as,c,d,aa,d,i,...,1,0,0,0,0,0,0,0,0,0
4185,8369,109.64,ak,v,ao,d,d,aa,g,p,...,0,1,0,0,0,0,0,0,0,0
4186,8371,131.98,j,f,ar,a,d,aa,j,n,...,0,0,1,0,0,0,0,0,0,0
4187,8373,98.15,aj,l,ae,f,d,aa,j,j,...,0,0,0,0,0,0,0,0,0,0
4188,8374,102.33,f,s,as,a,d,aa,d,t,...,0,0,1,0,0,0,0,0,0,0
4189,8375,102.42,aj,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4190,8378,89.11,n,s,ae,c,d,aa,j,f,...,1,0,0,0,0,0,0,0,0,0
4191,8382,88.93,z,v,ae,c,d,aa,d,r,...,1,0,0,0,0,0,0,0,0,0
4192,8383,103.03,aj,l,as,f,d,aa,j,n,...,0,0,0,0,0,0,0,0,0,0
4193,8384,107.24,ak,v,aw,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4194,8385,91.13,z,o,as,f,d,aa,i,j,...,0,0,0,0,0,0,0,0,0,0
4195,8387,86.23,o,l,ae,f,d,aa,g,j,...,0,0,0,0,0,0,0,0,0,0
4196,8390,99.93,y,o,m,f,d,aa,l,y,...,0,0,0,0,0,0,0,0,0,0
4197,8392,89.25,z,v,ae,c,d,aa,d,r,...,1,0,0,0,0,0,0,0,0,0
4198,8393,97.09,aw,a,ak,f,d,aa,h,o,...,0,0,0,0,0,0,0,0,0,0
4199,8395,88.24,t,aa,ay,c,d,aa,l,o,...,1,0,0,0,0,0,0,0,0,0
4200,8397,108.59,z,aa,e,c,d,aa,i,w,...,1,0,0,0,0,0,0,0,0,0
4201,8399,107.39,w,v,t,d,d,aa,h,g,...,0,1,0,0,0,0,0,0,0,0
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4203,8403,85.71,aq,s,as,c,d,aa,a,g,...,1,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [23]:
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [26]:
data.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [27]:
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [39]:
data['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
m      34
ai     34
e      32
ba     27
at     25
a      21
ax     19
am     18
aq     18
i      18
u      17
aw     16
l      16
ad     14
au     11
b      11
k      11
r      10
as     10
bc      6
ao      4
c       3
aa      2
q       2
ab      1
ac      1
g       1
Name: X0, dtype: int64

In [37]:
data[data['y']>100]

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0
10,31,102.09,h,r,r,f,d,f,h,p,...,0,0,0,0,0,0,0,0,0,0
16,39,106.10,al,r,e,f,d,j,h,o,...,0,0,0,0,0,0,0,0,0,0
17,40,114.13,ay,aa,as,c,d,j,c,d,...,0,0,1,0,0,0,0,0,0,0
22,50,108.14,x,r,a,b,d,j,j,o,...,1,0,0,0,0,0,0,0,0,0
23,52,120.77,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
26,61,104.07,aj,l,as,f,d,j,g,j,...,0,0,0,0,0,0,0,0,0,0
29,67,128.19,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
31,70,107.86,w,e,as,c,d,j,l,w,...,0,0,1,0,0,0,0,0,0,0
32,74,106.87,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
33,75,104.85,o,s,as,d,d,j,a,v,...,1,0,0,0,0,0,0,0,0,0
34,79,114.78,ak,s,as,c,d,j,j,b,...,1,0,0,0,0,0,0,0,0,0
37,86,117.31,j,v,k,d,d,j,j,j,...,0,0,0,0,0,1,0,0,0,0
39,92,110.76,w,s,as,c,d,j,j,k,...,1,0,0,0,0,0,0,0,0,0
40,100,101.44,aj,l,as,f,d,j,i,n,...,0,0,0,0,0,0,0,0,0,0
43,107,139.20,w,s,as,c,d,j,i,q,...,1,0,0,0,0,0,0,0,0,0
45,109,110.52,x,b,m,c,d,j,j,n,...,0,0,1,0,0,0,0,0,0,0
49,119,108.00,at,j,ai,b,d,j,d,i,...,0,0,0,0,0,0,0,0,0,0
50,124,116.59,w,w,as,f,d,j,l,e,...,1,0,0,0,0,0,0,0,0,0
52,127,119.44,ap,l,s,c,d,j,d,h,...,0,0,0,0,0,0,0,0,0,0
57,133,108.42,w,u,as,c,d,j,i,s,...,1,0,0,0,0,0,0,0,0,0
60,139,104.78,ay,b,ak,c,d,j,c,v,...,0,0,1,0,0,0,0,0,0,0
63,145,111.74,ak,p,ak,c,d,j,d,v,...,1,0,0,0,0,0,0,0,0,0
64,146,109.76,x,b,as,c,d,j,j,j,...,0,0,1,0,0,0,0,0,0,0
67,151,107.72,w,s,as,c,d,j,j,u,...,1,0,0,0,0,0,0,0,0,0
69,153,118.24,aj,s,as,c,d,j,g,a,...,1,0,0,0,0,0,0,0,0,0
71,158,113.40,ak,s,as,c,d,j,g,a,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4138,8270,107.29,f,l,ae,f,d,aa,d,b,...,0,0,0,0,0,0,0,0,0,0
4139,8273,104.26,w,s,as,e,d,aa,a,v,...,1,0,0,0,0,0,0,0,0,0
4142,8284,106.30,ak,s,as,c,d,aa,l,h,...,1,0,0,0,0,0,0,0,0,0
4148,8293,106.53,x,aa,as,c,d,aa,j,d,...,1,0,0,0,0,0,0,0,0,0
4149,8295,111.15,w,s,as,c,d,aa,i,e,...,1,0,0,0,0,0,0,0,0,0
4150,8297,105.61,ak,l,as,f,d,aa,g,i,...,0,0,0,0,0,0,0,0,0,0
4152,8300,103.62,x,r,aw,d,d,aa,l,w,...,1,0,0,0,0,0,0,0,0,0
4155,8304,106.34,w,s,as,a,d,aa,c,p,...,0,0,1,0,0,0,0,0,0,0
4160,8310,108.75,j,r,t,d,d,aa,j,h,...,0,1,0,0,0,0,0,0,0,0
4163,8313,104.42,j,r,t,d,d,aa,j,h,...,0,1,0,0,0,0,0,0,0,0
4165,8322,105.10,x,v,e,c,d,aa,g,s,...,0,0,0,0,1,0,0,0,0,0
4171,8336,118.81,x,z,m,c,d,aa,a,c,...,1,0,0,0,0,0,0,0,0,0
4173,8340,101.86,ak,v,aw,c,d,aa,k,n,...,0,0,0,0,0,0,0,0,0,0
4174,8342,104.29,ak,s,as,c,d,aa,c,j,...,1,0,0,0,0,0,0,0,0,0
4176,8344,149.52,ak,l,as,a,d,aa,j,r,...,0,0,1,0,0,0,0,0,0,0
4177,8348,106.61,j,r,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4184,8368,109.00,w,s,as,c,d,aa,d,i,...,1,0,0,0,0,0,0,0,0,0
4185,8369,109.64,ak,v,ao,d,d,aa,g,p,...,0,1,0,0,0,0,0,0,0,0
4186,8371,131.98,j,f,ar,a,d,aa,j,n,...,0,0,1,0,0,0,0,0,0,0
4188,8374,102.33,f,s,as,a,d,aa,d,t,...,0,0,1,0,0,0,0,0,0,0
4189,8375,102.42,aj,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4192,8383,103.03,aj,l,as,f,d,aa,j,n,...,0,0,0,0,0,0,0,0,0,0
4193,8384,107.24,ak,v,aw,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4200,8397,108.59,z,aa,e,c,d,aa,i,w,...,1,0,0,0,0,0,0,0,0,0
4201,8399,107.39,w,v,t,d,d,aa,h,g,...,0,1,0,0,0,0,0,0,0,0
4202,8402,123.34,ap,l,s,c,d,aa,d,r,...,0,0,0,0,0,0,0,0,0,0
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [38]:
data.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
X3      0
X4      0
X5      0
X6      0
X8      0
X10     0
X11     0
X12     0
X13     0
X14     0
X15     0
X16     0
X17     0
X18     0
X19     0
X20     0
X21     0
X22     0
X23     0
X24     0
X26     0
X27     0
X28     0
X29     0
X30     0
       ..
X355    0
X356    0
X357    0
X358    0
X359    0
X360    0
X361    0
X362    0
X363    0
X364    0
X365    0
X366    0
X367    0
X368    0
X369    0
X370    0
X371    0
X372    0
X373    0
X374    0
X375    0
X376    0
X377    0
X378    0
X379    0
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 378, dtype: int64

##CSV

In [40]:
from io import StringIO,BytesIO

In [55]:
data = ('col1,col2,col3\n'
       'x,y,1\n'
       'a,b,2\n'
       'c,d,3 \n')

In [46]:
data

'col1,col2,col3 \nx,y,1 \na,b,2 \nc,d,3 \n'

In [47]:
type(data)

str

In [49]:
print(data)

col1,col2,col3
x,y,1
a,b,2
c,d,3

In [50]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y      1
1    a    b      2
2    c    d      3

In [58]:
df = pd.read_csv(StringIO(data),usecols=['col1','col3'])

In [59]:
df

  col1  col3
0    x     1
1    a     2
2    c     3

In [60]:
df.to_csv('Test.scv')

In [68]:
data = ('a,b,c,d\n'
       '1,2,3,4\n'
       '5,6,7,8\n'
       '9,10,11,12')

In [63]:
data

'a,b,c,d\n1,2,3,4\n5,6,7,8\n9,10,11'

In [64]:
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [69]:
df = pd.read_csv(StringIO(data),dtype=object)

In [70]:
dfdf

   a   b   c   d
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [71]:
df['a']

0    1
1    5
2    9
Name: a, dtype: object

In [72]:
df['a'][1]

'5'

In [76]:
df.dtypes

a    object
b    object
c    object
d    object
dtype: object

In [86]:
df= pd.read_csv(StringIO(data),usecols=['a','b','d'],dtype={'a':int,'b':float,'c':'Int64'})

In [87]:
df

   a     b   d
0  1   2.0   4
1  5   6.0   8
2  9  10.0  12

In [89]:
df.dtypes

a      int32
b    float64
d      int64
dtype: object

### indexing columns and training delimiters

In [91]:
data = ('index,a,b,c\n'
       '4,apple,bat,5.7\n'
       '8,orange,cow,10')

In [92]:
data

'index,a,b,c\n4,apple,bat,5.7\n8,orange,cow,10'

In [93]:
print(data)

index,a,b,c
4,apple,bat,5.7
8,orange,cow,10

In [94]:
type(data)

str

In [95]:
df = pd.read_csv(StringIO(data),index_col=0)

In [97]:
type(df)

pandas.core.frame.DataFrame

In [98]:
df

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [99]:
data = ('a,b,c\n'
       '4,apple,bat\n'
       '8,orange,cow')

In [101]:
type(data)

str

In [105]:
pd.read_csv(StringIO(data),index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

###combining usecols and index_cols

In [107]:
data

'a,b,c\n4,apple,bat\n8,orange,cow'

In [110]:
df = pd.read_csv(StringIO(data),usecols=['a','c'],index_col=False)

In [111]:
df

   a    c
0  4  bat
1  8  cow

###Quoting and Escape charaters useful in NLP

In [114]:
data = 'a,b\n"hello, \\"Bob\\",nice to see yuo",5'

In [115]:
pd.read_csv(StringIO(data),escapechar='\\')

                              a  b
0  hello, "Bob",nice to see yuo  5

In [ ]:
df = pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',sep='\t')